/* About Section Styles */
#about {
    background: #fff;
    padding: 40px 20px;
}

#about h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center; /* Centra los títulos */
}

#about p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.8;
    color: #555;
    text-align: justify; /* Justifica el texto */
}

