/* Services Section Styles */
#services {
    background: #fff;
    padding: 40px 20px;
    text-align: center;
}

#services h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

#services p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.8;
    color: #555;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Cambia a un diseño de cuadrícula */
    gap: 20px;
    padding: 20px 0;
}

.service {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.gallery-item {
    position: relative;
    width: 100%;
    height: 200px; /* Establece una altura fija para el contenedor de la imagen */
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobrepase el contenedor */
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Asegura que toda la imagen sea visible sin recortes */
    object-position: center; /* Centra la imagen dentro del contenedor */
}

.gallery-item button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.gallery-item .prev {
    left: 10px;
}

.gallery-item .next {
    right: 10px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .service-list {
        grid-template-columns: 1fr; /* Una columna en pantallas más pequeñas */
    }

    .gallery-item {
        height: 150px; /* Ajusta la altura en dispositivos más pequeños */
    }

    .gallery-item button {
        top: 50%;
    }
}
